In [41]:
# https://github.com/CSSEGISandData/COVID-19 엑셀 자료 참조

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
sns.set(style = "whitegrid")

import missingno as msno

from IPython.display import set_matplotlib_formats

import warnings
warnings.filterwarnings("ignore")

In [6]:
# Mac OS를 이용하고 있기 떄문에 AppleGothic을 설정했습니다.
# 윈도우의 경우 다른 폰트를 사용해주셔야 합니다. 나눔폰트가 있는 경우 'NanumGothic' 없는 경우에는 'Malgun Gothic'을 사용해주세요.
# plt.rcParams["font.family"] = "Malgun Gothic"
plt.rcParams["font.family"] = "AppleGothic"

# 별도로, 폰트를 바꿀 경우 마이너스가 표시되지 않는 경우도 있는데 이를 막아주는 코드입니다.
matplotlib.rc('axes', unicode_minus=False)
plt.rcParams['axes.unicode_minus'] = False

In [7]:
# retina 옵션을 통해 해상도를 올립니다.
set_matplotlib_formats('retina')

# 화면에 출력하는 데이터 프레임의 최대 row 수를 500으로 설정합니다.
pd.set_option('display.max_rows', 500)

# 화면에 출력하는 데이터 프레임의 최대 column 수를 500으로 설정합니다.
pd.set_option('display.max_columns', 500)

---

- Github 에서 날짜별 엑셀 자료를 불러와 데이터프레임으로 만들도록 하겠습니다.

In [37]:
def corona_data(mm, dd): # 월별, 일별 자료를 불러오는 corona_data 라는 함수를 만듭니다.
    
    # 엑셀 데이터 경로를 data_path 변수에 할당합니다.
    # format 함수를 사용해 월, 일을 변경 할 수 있도록 설정합니다.
    data_path = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}-{}-2020.csv".format(mm, dd)
    
    # 엑셀 데이터를 df 변수에 데이터프레임으로 할당합니다.
    df = pd.read_csv(data_path)
    
    # df 데이터를 반환합니다.
    return(df)

In [38]:
# 데이터를 담을 corona19 라는 빈 데이터프레임을 만듭니다.
corona19 = pd.DataFrame()

for mm in range(1, 3): # 1월 ~ 2월까지 반복합니다.
    for dd in range(1, 32): # 1일 ~ 31일까지 반복합니다.
        
        # try 이하 구문을 실행합니다.
        try:
            # corona_data 함수로 엑셀 데이터를 temp 변수에 할당합니다.
            # zfill 함수를 사용하여 0을 포함한 두 자리로 설정합니다.   
            temp = corona_data(str(mm).zfill(2), str(dd).zfill(2))
            
            # temp 에 할당한 데이터를 corona19 밑으로 추가합니다.            
            corona19 = corona19.append(temp, ignore_index = True)
        
        # 만약 try 구문에서 에러가 발생하면 except 이후를 실행합니다.
        except:
            pass

In [ ]:
print(corona19.shape)
corona19.head()

In [40]:
corona19.to_csv("corona19.csv", index = False)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
2374,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
2375,"Tempe, AZ",US,2020-02-25T21:23:03,1.0,0.0,1.0
2376,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2377,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2378,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0